:root {
    --hex-primary: #0F172A;
    --hex-primary-lite: #374361;
    --hex-secondary: #EAB308;
    --hex-accent: #ff00bf;
    --hex-black: #000;
    --hex-white: #fff;
    --rgb-primary: 15, 23, 42;
    --rgb-secondary: 234, 179, 8;
    --rgb-accent: 255, 0, 191;
    --rgb-white: 255,255,255;
    --rgb-black: 0,0,0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    color: rgba(var(--rgb-white), 1);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.4em;
    background-color: rgba(var(--rgb-primary), 1);
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(var(--rgb-white), 1);
    line-height: 1.2em;
    margin-bottom: 0.5em;
}

a {
    color: rgba(var(--rgb-white), 1);
    text-decoration: none;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--rgb-primary), 1);
    z-index: 999999999999;
    transition: all 1.5s ease-in-out;
    cursor: wait;
    img {
        display: block;
    }
}
.preloader.fadeOut {
    opacity: 0;
}
.preloader.hide {
    display: none;
}

.gradient-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(45deg, rgb(51, 10, 235), rgba(255, 0, 191, 0.3));
    opacity: 0.4;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
    padding: 20px;
}

.version {
    display: flex;
    justify-content: space-between;
}

#command-output {
    height: 100%;
    padding: 20px;
    border: 1px solid var(--hex-primary-lite);
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#command-line {
    border: 1px solid var(--hex-primary-lite);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    .cmd-logo {
        display: flex;
    }
    .cmd-input-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        color: var(--hex-primary-lite);
        span {
            font-size: 24px;
            font-weight: 700;
            white-space: nowrap;
            &:hover {
                color: var(--hex-white);
                cursor: help;
            }
        }
        .cmd-input {
            background-color: transparent;
            height: 100%;
            width: 100%;
            color: var(--hex-white);
            border: 0;
            padding-left: 10px;
            font-size: 18px;
            &::placeholder {
                color: var(--hex-primary-lite);
            }
            &:focus {
                outline: none;
            } 
        }
    }
}



@media screen and (max-width:767px) {
    .gradient-bg {
        .gradient-1 {
            filter: blur(100px);
        }
        .gradient-2 {
            filter: blur(100px);
        }
        .gradient-3 {
            filter: blur(100px);
        }
    }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header,
    .glass-blur {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}