:root {
  --hex-primary: #0F172A;
  --hex-secondary: #EAB308;
  --hex-accent: #ff00bf;
  --hex-white: #fff;
  --hex-black: #000;
  --rgb-primary: 15, 23, 42;
  --rgb-secondary: 234, 179, 8;
  --rgb-accent: 255, 0, 191;
  --rgb-white: 255,255,255;
  --rgb-black: 0,0,0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgba(var(--rgb-white), 1);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4em;
  background-color: rgba(var(--rgb-primary), 1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(var(--rgb-white), 1);
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

a {
  color: rgba(var(--rgb-white), 1);
  text-decoration: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--rgb-primary), 1);
  z-index: 999999999999;
  transition: all 1.5s ease-in-out;
  cursor: wait;
}
.preloader img {
  display: block;
}

.preloader.fadeOut {
  opacity: 0;
}

.preloader.hide {
  display: none;
}

.gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(45deg, rgb(51, 10, 235), rgba(255, 0, 191, 0.3));
  opacity: 0.4;
}

.wrapper {
  position: relative;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  z-index: 9;
}

header {
  background-color: rgba(var(--rgb-primary), 0.5);
  border: 1px solid rgba(var(--rgb-white), 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .logo {
  padding-right: 20px;
}
header .logo a, header .logo img {
  display: block;
}
header .logo img {
  width: 20px;
  height: 20px;
}
header nav {
  display: inline-flex;
}
header nav ul {
  display: flex;
  gap: 20px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: rgba(var(--rgb-white), 1);
  font-weight: 400;
}
header nav ul li a:hover {
  color: rgba(var(--rgb-secondary), 1);
}
header .social {
  display: flex;
  align-items: center;
  margin-left: auto;
}
header .social ul {
  display: flex;
  gap: 10px;
}
header .social ul li {
  list-style: none;
}
header .social ul li a, header .social ul li img {
  display: block;
}
header .social ul li a {
  opacity: 0.8;
}
header .social ul li a img {
  width: 25px;
  height: 25px;
}
header .social ul li a:hover {
  opacity: 1;
}

#section-1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#section-1 .mac-desktop {
  position: relative;
  background-color: rgba(var(--rgb-primary), 0.5);
  border: 1px solid rgba(var(--rgb-white), 0.1);
  padding: 150px 0;
  border-radius: 15px;
  overflow: hidden;
  z-index: 0;
}
#section-1 .mac-desktop span, #section-1 .mac-desktop li, #section-1 .mac-desktop h2 {
  text-shadow: 0 0 20px rgba(var(--rgb-primary), 1);
}
#section-1 .mac-desktop h1 {
  font-size: 72px;
  line-height: 1em;
  margin-bottom: 0;
}
#section-1 .mac-desktop h1 span {
  cursor: pointer;
  display: inline-block;
  transform: translateY(0);
}
#section-1 .mac-desktop h1 span:hover {
  color: rgba(var(--rgb-secondary), 1);
  transform: translateY(-5px);
}
#section-1 .mac-desktop h1 .trigger-0:hover {
  color: red;
}
#section-1 .mac-desktop h2 {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
#section-1 .mac-desktop p {
  font-size: 24px;
  font-weight: 700;
}
#section-1 .mac-desktop ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}
#section-1 .mac-desktop ul li {
  list-style: none;
  color: var(--hex-white);
}
#section-1 .mac-desktop:before {
  content: "";
  position: absolute;
  left: -10%;
  bottom: -15%;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(45deg, rgb(51, 10, 235), rgba(255, 0, 191, 0.3));
  z-index: -2;
  filter: blur(100px);
}
#section-1 .mac-desktop:before:hover {
  left: -15%;
  bottom: -20%;
}
#section-1 .mac-desktop:after {
  content: "";
  position: absolute;
  right: -10%;
  top: -15%;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(45deg, rgba(255, 0, 191, 0.3), rgb(51, 10, 235));
  z-index: -2;
  filter: blur(100px);
}
#section-1 .mac-desktop:after:hover {
  right: -15%;
  top: -20%;
}

@media screen and (max-width: 767px) {
  .gradient-bg .gradient-1 {
    filter: blur(100px);
  }
  .gradient-bg .gradient-2 {
    filter: blur(100px);
  }
  .gradient-bg .gradient-3 {
    filter: blur(100px);
  }
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  header,
  .glass-blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}/*# sourceMappingURL=style.css.map */